DATABASE_URL=postgresql://utilizador:palavra-passe@host.neon.tech/neondb?sslmode=require

GEMINI_API_KEY=
MODELO_CLASSIFICACAO=gemini-2.5-flash
MODELO_AGENTE=gemini-2.5-flash

PORT=3001
JWT_SEGREDO=

ADMIN_EMAIL=avaliacao@masterfunnels.pt
ADMIN_PASSWORD=
